body{
    background-color: #0f0126;
    margin: 0;
    padding: 0;
}
.main{
    top: 100px;
    position: relative;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;

}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: #150035;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 20px rgba(88, 1, 1, 0.582)
}
.product img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.product h2{
    font-size: 20px;
    color: white;
    margin: 10px;
}
.product p{
    font-size: 18px;
    color: white;
    margin: 10px;
}
.product button{
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}